synapsepoc/pipeline/PL_Synapse_Pool_Pause_Resume.json
{
	"name": "PL_Synapse_Pool_Pause_Resume",
	"properties": {
		"activities": [
			{
				"name": "List of SQL Pools",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools?api-version=2019-06-01-preview')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"resource": "https://management.azure.com/",
						"credential": {
							"referenceName": "userassignedmanagedidentity",
							"type": "CredentialReference"
						}
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "List of SQL Pools",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List of SQL Pools').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(endswith(item().name,'prod'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get SQL Pool state",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools/',item().name,'?api-version=2019-06-01-preview')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"authentication": {
									"resource": "https://management.azure.com/",
									"credential": {
										"referenceName": "userassignedmanagedidentity",
										"type": "CredentialReference"
									}
								}
							}
						},
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Get SQL Pool state",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@concat(activity('Get SQL Pool state').output.properties.status,'-',pipeline().parameters.PauseorResume)",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "PauseThenResume",
										"activities": [
											{
												"name": "Resuming the Pool",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools/',pipeline().parameters.SQLPoolName,'/resume?api-version=2019-06-01-preview HTTP/1.1')",
														"type": "Expression"
													},
													"connectVia": {
														"referenceName": "AutoResolveIntegrationRuntime",
														"type": "IntegrationRuntimeReference"
													},
													"method": "POST",
													"body": {
														"SubscriptionID": "@{pipeline().parameters.SubscriptionID}",
														"ResourceGroup": "@{pipeline().parameters.ResourceGroup}",
														"WorkspaceName": "@{pipeline().parameters.WorkspaceName}",
														"SQLPoolName": "@{pipeline().parameters.SQLPoolName}"
													},
													"authentication": {
														"resource": "https://management.azure.com",
														"credential": {
															"referenceName": "userassignedmanagedidentity",
															"type": "CredentialReference"
														}
													}
												}
											}
										]
									},
									{
										"value": "ResumeThenPause",
										"activities": [
											{
												"name": "Pausing the Pool",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools/',activity('Get SQL Pool state').output.name,'/pause?api-version=2019-06-01-preview')",
														"type": "Expression"
													},
													"connectVia": {
														"referenceName": "AutoResolveIntegrationRuntime",
														"type": "IntegrationRuntimeReference"
													},
													"method": "POST",
													"body": {
														"SubscriptionID": "@{pipeline().parameters.SubscriptionID}",
														"ResourceGroup": "@{pipeline().parameters.ResourceGroup}",
														"WorkspaceName": "@{pipeline().parameters.WorkspaceName}",
														"SQLPoolName": "@{pipeline().parameters.SQLPoolName}"
													},
													"authentication": {
														"resource": "https://management.azure.com/",
														"credential": {
															"referenceName": "userassignedmanagedidentity",
															"type": "CredentialReference"
														}
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ResourceGroup": {
				"type": "string",
				"defaultValue": "rg_POC"
			},
			"SQLPoolName": {
				"type": "string",
				"defaultValue": "pocf2ly6yljx75mypocws1p1"
			},
			"SubscriptionID": {
				"type": "string",
				"defaultValue": "353c281f-ad57-43e1-8c7d-53f387cbec07"
			},
			"PauseorResume": {
				"type": "string",
				"defaultValue": "Pause"
			},
			"WorkspaceName": {
				"type": "string",
				"defaultValue": "pocf2ly6yljx75mypocws1"
			}
		},
		"annotations": []
	}
}